<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="css/normalize.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/styles.css" />

    <script src="js/lib/modernizr-2.6.2.min.js"></script>
  </head>
  <body>
    <div id="song"></div>
    <ul id="songs"></ul>
    <div id="templateSong"></div>
    <script src="js/lib/jquery-min.js"></script>
    <script src="js/lib/underscore-min.js"></script>
    <script src="js/lib/backbone-min.js"></script>

    <!-- The below script is the template for a view in main.js, -->

    <script id="songTemplate" type="text/html">
      <%= title %>  <!--This renders the title dynamically, with "=" it will be rendered to the page-->
      <button>Listen</button>
      <% if (plays > 1000) { %> <!-- Without the "=" for logic and conditional statements-->
        <span class="popular">Popular</span>
        <% } %>
    </script>

    <script src="js/main.js"></script>
  </body>
</html>
